
.infoBar{
    background-color: #242F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    height: 5%;
    width: 100%;
    color: whitesmoke;
    position: sticky;
    top: 0;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user p{
    padding-left: 5px;
}
.infoBar img{
    max-height: 25px;
}
.roomName{
    font-size: 110%;
    font-weight: bold;
}
.connected-icon{
    height: 10px;
}