
.infoBar{
    background-color: #242F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    height: 5%;
    width: 100%;
    color: whitesmoke;
    position: sticky;
    top: 0;
    border: 2px solid whitesmoke;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user p{
    padding-left: 5px;
}
.infoBar img{
    max-height: 25px;
}
.roomName{
    font-size: 110%;
    font-weight: bold;
}
.connected-icon{
    height: 10px;
}
.menuArrow{
    padding: 0 10px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    transition: transform .5s;
    cursor: pointer;
    font-size: x-large;
}
.bar{
    width: 25px;
    height: 2px;
    margin:4px 0;
    background-color: whitesmoke;
}
@media screen and (min-width: 1021px){
    .hamburger{
        display: none;
    }
    .menuArrow{
        display: none;
    }
}