.messageInput{
    height: 5%;
    width: 100%;
    background-color: whitesmoke;
    position: sticky;
    bottom: 0;
}
.inputBar{
    width: 85%;
    height: 100%
}
.sendButton{
    width: 15%;
    height: 100%
}